body{
  background: rgb(0,31,255); 
  background: linear-gradient(90deg, rgba(0,31,255,1) 0%, rgba(23,192,232,1) 50%);
  height: 100%;
}

.box_1{
   display: flex;
   justify-content: space-around;
   margin-bottom: 50px;
   margin-left: 80px;
   margin-right: 80px;
   flex-wrap: wrap;
}

.numbox{
  background-color: aliceblue;
  padding: 20px 40px 30px 40px;
  margin-top: 100px;
  border-radius: 20px;

}

.numbox:hover { transform: scale(0.98); }

.nametop{
  text-align: center;
  color: grey;
}
.namebottom{
  font-size: 30px;
  padding-top: 0px;
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid gainsboro;
}

.month{
  font-size: small;
}

.numbox:nth-child(1)> div:nth-child(8){
      color: gray;
}

.numbox:nth-child(1)> div:nth-child(9){
  color: gray;
}

.numbox:nth-child(1)> div:nth-child(10){
  color: gray;
}

.numbox:nth-child(1)> div:nth-child(11){
  color: gray;
}

.numbox:nth-child(2)> div:nth-child(10){
  color: gray;
}

.button{
  background-color: skyblue;
  font-size: larger;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 50px;
  opacity: 0.8;
  box-shadow: 50px blue;
  font-weight: bold;
  color: aliceblue;
  cursor: pointer;
}.button:hover{
  opacity: 1;
}.button:active{
  font-size: 20px;
  background-color: aqua;
}

@media screen and (max-width: 600px) {
  .box_1 {
    float: none;
    width: 50%;
  }
}


















